.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.text {
  text-align: center;
  font-size: 26px;
  font-weight: 600;

  &__num {
    font-size: 80px;
    line-height: 1;
  }
}
