body {
  font-family: var(--Lato);
  font-size: var(--base-font-size);
  color: var(--base-font-color);
  line-height: var(--base-line-height);
  background-color: var(--base-body-color);
  overflow-y: auto;

  &.hidden {
    overflow: hidden;
  }
}
