@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/Lato/Lato-Heavy.eot');
  src: local('Lato Heavy'), local('Lato-Heavy'),
  url('../../../assets/fonts/Lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Lato/Lato-Heavy.woff2') format('woff2'),
  url('../../../assets/fonts/Lato/Lato-Heavy.woff') format('woff'),
  url('../../../assets/fonts/Lato/Lato-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/Lato/Lato-Black.eot');
  src: local('Lato Black'), local('Lato-Black'),
  url('../../../assets/fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Lato/Lato-Black.woff2') format('woff2'),
  url('../../../assets/fonts/Lato/Lato-Black.woff') format('woff'),
  url('../../../assets/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/Lato/Lato-Bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
  url('../../../assets/fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Lato/Lato-Bold.woff2') format('woff2'),
  url('../../../assets/fonts/Lato/Lato-Bold.woff') format('woff'),
  url('../../../assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/Lato/Lato-Semibold.eot');
  src: local('Lato Semibold'), local('Lato-Semibold'),
  url('../../../assets/fonts/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Lato/Lato-Semibold.woff2') format('woff2'),
  url('../../../assets/fonts/Lato/Lato-Semibold.woff') format('woff'),
  url('../../../assets/fonts/Lato/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/Lato/Lato-Medium.eot');
  src: local('Lato Medium'), local('Lato-Medium'),
  url('../../../assets/fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Lato/Lato-Medium.woff2') format('woff2'),
  url('../../../assets/fonts/Lato/Lato-Medium.woff') format('woff'),
  url('../../../assets/fonts/Lato/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/Lato/Lato-Regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
  url('../../../assets/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Lato/Lato-Regular.woff2') format('woff2'),
  url('../../../assets/fonts/Lato/Lato-Regular.woff') format('woff'),
  url('../../../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/Lato/Lato-Light.eot');
  src: local('Lato Light'), local('Lato-Light'),
  url('../../../assets/fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Lato/Lato-Light.woff2') format('woff2'),
  url('../../../assets/fonts/Lato/Lato-Light.woff') format('woff'),
  url('../../../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/Lato/Lato-Thin.eot');
  src: local('Lato Thin'), local('Lato-Thin'),
  url('../../../assets/fonts/Lato/Lato-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Lato/Lato-Thin.woff2') format('woff2'),
  url('../../../assets/fonts/Lato/Lato-Thin.woff') format('woff'),
  url('../../../assets/fonts/Lato/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
