:root {
  // - - - - - FONTS - - - - - //
  --Lato                : 'Lato', sans-serif;
  --base-font-size      : 14px;
  --base-font-color     : #283957;
  --base-line-height    : 1.5;
  --base-body-color     : #FFFFFF;

  // - - - - - COLORS - - - - - //


  // - - - - - COMPONENTS SIZES - - - - - //
  --header-height       : 48px;


  // - - - - - TRANSITION - - - - - //

}
