.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.wrap {
  width: 100%;
}

.info {
  width: 500px;
}

.title {
  height: var(--header-height);
  padding-top: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}